<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TermsOfUse</key>
	<string>**Terms of Use**


# Article 1. Purpose
1-10,Inc. (“1-10”) sets forth these ZIG SIM Terms of Service (these “TOS”) for the provision of the Service by 1-10 and permits Users to use the Service. Users receive the Service in accordance with these TOS and the notice on use and other rules prescribed by 1-10.

# Article 2. Definitions
The terms used in these TOS have the following meanings.
    1. “Site” means the website called “ZIG SIM” [https://zig-project.com/](https://zig-project.com/), operated by 1-10.
    2. “Service” means the application service and website service provided by 1-10 to Users via the Site and all other service applications provided by 1-10.
    3. “User” means a user of the Service.
    4. “Fee-Based Service” means the Service provided for a fee.

# Article 3. Amendments to TOS
    1. 1-10 may amend these TOS whenever 1-10 deems it necessary.
    2. Any amendment becomes effective at the time the amended TOS are displayed on the Site, unless otherwise set forth for by 1-10. In such case, the terms of use of the Service will be governed by the amended TOS.

# Article 4. Handling of Personal Information
Information registered by Users and information on Users obtained by 1-10 will be handled in accordance with the privacy policy [https://www.1-10.com/](https://www.1-10.com/) separately set forth by 1-10.

# Article 5. Environment Settings
Users purchase and set up the terminal and other equipment necessary to use the Service at their own responsibility and expense.

# Article 6. No Assignment, Sale or Pledge
Users may not assign, sell or pledge their position or rights under these TOS to any third party without obtaining permission from 1-10.

# Article 7. No Guarantee
    1. 1-10 provides the Service to Users as is and to the extent available.
    2. 1-10 does not guarantee that:
-- the content of the Service meets the demands of Users or is beneficial to Users;
-- part or all of the Service will not be interrupted, suspended or revoked;
-- the content of the Service will not be amended or deleted;
-- the Service will be provided in a timely manner;
-- the Service is safe;
-- no error will occur in the Service;
-- the information offered through the Service is accurate, legal, moral, up-to-date, appropriate or reliable;
-- the Service is not defective in any way;
-- any act by Users using the Service meets the specific purpose of the User;
-- information and others posted on the Service will not disappear; or
-- Users will achieve their learning outcomes or results.

    3. If any part or all of the information posted by Users and stored in the equipment necessary to operate the Service (the “Equipment”) disappears or is falsified by a third party, or if the Service is interrupted, 1-10 will make efforts to recover the posted information or the Service to the extent technically possible. 1-10 will be exempt from compensating Users for any damage incurred by Users in connection with the disappearance, falsification or interruption by making efforts to recover the information or Service, unless any willful misconduct or gross negligence of 1-10 is confirmed.
    4. 1-10 will not be liable for any damage to a computer or other device or data of Users arising from or in connection with the use of the Service, unless any willful misconduct or gross negligence of 1-10 is confirmed.
    5. 1-10 will not be responsible for any text, images or other information posted by Users even when the internal rules of a corporation or an organization to which the relevant User belongs apply.

# Article 8. Prohibited Acts
For continued use of the Service, Users are prohibited from engaging in the following acts in the Service. If 1-10 identifies any prohibited act, 1-10 will warn the relevant User, delete the relevant information displayed on the Site or the relevant user registration, or take any other necessary and appropriate measures. In addition, 1-10 has the right to determine the details of the measures to be taken and will not acknowledge any question or claim regarding the results of the determination.
    1. Acts of infringement on the patent rights, utility model rights, design rights, trademark rights, copyright, trade secrets or other intellectual property rights of a third party or 1-10, or acts that are likely to cause such infringement
    2. Acts of infringement on the property, privacy rights or image rights of a third party, or acts that are likely to cause such infringement
    3. Acts that offend public order or morals, or any law or ordinance
    4. Acts of discrimination against, or insult or maliciously slander of, a third party, acts that damage or infringe, or are likely to damage or infringe on the honor or credibility of a third party, acts of intimidation or harassment of a third party, or acts that otherwise economically or psychologically damage or disadvantage a third party
    5. Fraud or other criminal acts or involvement in such criminal acts
    6. Submitting or sending content including scenes of violence or cruelty that is likely to make a third party uneasy or images or messages including indecent or abusive scenes that are likely to adversely affect the development of a child or young person’s personality
    7. Acts that breach the Anti-Stalking Act
    8. Submitting information for the purpose of meeting, interacting with or conducting indecent acts with a person with whom the User is unacquainted, or information with an age restriction
    9. Pre-election campaigning, election campaigning or similar acts, or acts that conflict with the Public Offices Election Act
    10. Religious or similar activities or soliciting persons to join a religious group
    11. Using the Service to pretend to be another person or for commercial use without obtaining permission from 1-10, using the name of a company or an organization for which the User does not have any right of representation or power of attorney, or misrepresenting a partner or collaborative relationship with another company or other misleading acts
    12. Using or preparing to use the Service for business activities or profit, unless otherwise approved by 1-10, in which case commercial activities may be carried out within the scope of such approval
    13. Soliciting a third party to join a pyramid scheme or other multi-level marketing scheme, or an adult website, or requesting the forwarding of chain-emails or forwarding chain-emails in response to such request
    14. Spreading material misinformation or rumor
    15. Collecting or disclosing personal information of a third party without obtaining consent of the third party or in a fraudulent manner
    16. Sending a virus or other harmful computer program or file, submitting the URL of that program or file, or making that program or file available to a third party
    17. Acts that obstruct or interfere with the operation of the Service or use of the Service by a third party, or other acts that 1-10 deems inappropriate based on reasonable grounds

# Article 9. Usage Fee
    1. Users shall pay a usage fee prescribed by 1-10 (the “Usage Fee”) when using the Fee-Based Service.
    2. The Usage Fee is displayed on the website of the Service.
    3. 1-10 may amend the Usage Fee without obtaining the approval of Users.
    4. The amendment becomes effective at the time the amended Usage Fee is displayed on the website of the Service.

# Article 10. Settlement
    1. Users shall pay the Usage Fee in the settlement method prescribed by 1-10.
    2. 1-10 will not refund any Usage Fee already settled for any reason. The same applies in the case of withdrawal from the Service or cancellation of membership.
    3. 1-10 will not be liable for any disadvantage or damage incurred by Users due to abuse of the settlement method by a third party, unless such disadvantage or damage is attributable to 1-10.

# Article 11. Prohibition or Suspension of Use of Service
    1. If any of the following matters occurs, 1-10 may prohibit or suspend a User from using the Service, or take other necessary measures without giving notice to the relevant User.
-- The User infringes on, or is likely to infringe on, the reputation, credibility or privacy of 1-10 or a third party
-- The User infringes on, or is likely to infringe on, the copyright or other intellectual property rights of 1-10 or a third party
-- The User loses, damages or steals, or is likely to lose, damage or steal, the system or data of 1-10 or a third party
-- The User engages in, instigates or facilitates, or is likely to engage in, instigate or facilitate, illegal acts
-- The User prevents, or is likely to prevent, the provision of the Service by 1-10
-- The User prevents or interferes with, or is likely to prevent or interfere with, the use of the Service by a third party
-- The User breaches these TOS
-- The User is discovered as having been prohibited from using the Service in the past due to breach of these TOS or another notice on use of the Service set forth by 1-10
-- 1-10 otherwise deems it necessary
    2. If 1-10 prohibits or suspends the use of the Service by any User or takes other measures against any User, 1-10 will not be obligated to disclose the reason therefor to the User.

# Article 12. Copyright
    1. Copyright of the text, images, movies, music, programs and other works constituting the Service belong to 1-10 or the creators thereof, excluding those created by Users.
    2. Users may not reprint, copy, analyze, alter, translate, lend, sell, distribute or make derivative works of the works set forth in Article 13.1 without obtaining the approval of 1-10 or the creator.
    3. Copyright of the text, images, movies, music, etc. posted or edited by any User using the Service belong to such User.
    4. Text, images, movies, music, etc. posted or edited using the Service and any related derivatives may be used by 1-10 and its affiliates for the sites and services provided by 1-10 and its affiliates under a perpetual royalty-free license after taking the measures deemed necessary by 1-10.
    5. Users may not exercise the moral rights of the copyright holder upon the use by 1-10 and the affiliates provided in Article 13.4.

# Article 13. Disclaimer
    1. Any dispute that arises between Users using the Service will be resolved between the relevant Users and 1-10 will not be liable therefor.
    2. If any User infringes on the rights of a third party (defamation of a third party, infringing on the privacy rights of a third party, disclosing any personal information of a third party without permission, violating the Copyright Act or the like), the User shall resolve the infringement at its own responsibility and expense and 1-10 will not be liable therefor.
    3. 1-10 will not be liable for any direct or indirect damage incurred by any User or a third party due to loss or divulging of data, or use of data for a purpose for which the Service is not intended, by the User.
    4. 1-10 will not be liable for any damage incurred by any User or a third party due to delay, suspension, amendment, termination, registration, or prohibition or suspension of use of the Service, unless any willful misconduct or gross negligence of 1-10 is confirmed.
    5. 1-10 will not be liable for any indirect, incidental, punitive or consequential damage caused in connection with the Service (including, without limitation, delay, failure or suspension of the Service).
    6. The maximum amount of damages that 1-10 may be liable for to a User under these TOS for each event resulting in damages is the amount equal to the aggregate amount of Usage Fees for the Service that have been paid by the User to 1-10 in the period of the previous three months.

# Article 14. Suspension of Service
If any of the following events will occur or has occurred, 1-10 may suspend the provision of the Service by giving Users a prior notice or a notice after the event.
    1. 1-10 deems it necessary to carry out maintenance, inspection or improvement of the server or peripheral equipment
    2. 1-10 deems it necessary to shut down the server or peripheral equipment in order to prevent infection by a computer virus
    3. Provision of the Service becomes impossible due to force majeure caused by a large-scale disaster or other event

# Article 15. Termination of Service
1-10 shall reserve the right to change or stop all or part of the Service, as deemed necessary from time to time. While advance notice will be given where possible, 1-10 also reserves the right to take such actions without prior notice.


# Article 16. Damages
If any User breaches these TOS and 1-10 incurs direct or indirect damage, 1-10 may claim compensation for the damage from the User.

# Article 17. Governing Law and Jurisdiction
    1. These TOS are governed by the laws of Japan.
    2. Users agree that any dispute relating to these TOS will be submitted to the exclusive jurisdiction of the Kyoto District Court as the court of first instance.


Prescribed on June 17, 2019</string>
</dict>
</plist>
